.reactInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 27rem;
    background-color: rgb(40, 44, 52);
}
.reactLiteral{
    font-size: 5rem;
    margin: 0;
    color: rgb(97, 218, 251);
}
.paraIntro{
    margin: 2rem 0;
    color: white;
    font-weight: 200;
    font-size: 2rem;
}
.startButton{
    display: flex;
    justify-content: center;
    color: rgb(97, 218, 251);
}
.button{
    width: 10rem;
    margin: 0 1rem;
    background-color: rgb(97, 218, 251);
    font-size: 1.2rem;
    font-weight: 500;
}