.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #20232a;
    height: 4rem;
    position: sticky;
    top: 0;
}
.firstNav{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
}
.logo{
    height: 3rem;
    width: 3rem;
}
.reactName{
    font-size: 1.5rem;
    font-weight: 800;
    color: rgb(97, 218, 251);
}
.secondNav{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.secondNavLink{
    color: white;
    font-size: 1.3rem;
    font-weight: 200;
}
.search{
    padding: 0.5rem 2px;
    border-radius: 0.2rem;
}
.thirdNav{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.thirdNavLink{
    color: white;
    font-size: 1.1rem;
    font-weight: 200;
}