.reactTheory{
    display: flex;
    height: 28rem;
    justify-content: space-evenly;
}
.childReactTheory{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}
.stylePara{
    font-size: 1.3rem;
    font-weight: 200;
}
.middleDiv{
    margin: 2rem 0;
}